@model PetSuppliesPlus.Model.AdOption.AdOptionModel
@{
    ViewBag.Title = "Ad Options";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="tabular-data">
    <table class="table stacktable large-only tablularData">
        <caption>Ad Option <span>List</span></caption>
        <thead>
            <tr id="search-filter">
                <th>
                    <a class="sort-icon" onclick="sortRequest('name')">AD Option Name</a>
                    <br />
                    <input type="text" id="name" name="name" class="form-control" placeholder="Ad Option Name" />
                </th>
                @*<th>
                        <a class="sort-icon" onclick="sortRequest('MinimumCirculation')">MinimumCirculation</a>
                        <br />
                        <input type="text" id="MinimumCirculation" name="MinimumCirculation" class="form-control" placeholder="MinimumCirculation" />
                    </th>*@
                <th>
                    <a class="sort-icon" onclick="sortRequest('vendor')">Vendor Name</a>
                    <br />
                    <input type="text" id="vendor" name="vendor" class="form-control" placeholder="Vendor Name" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('special')">Special Ad option</a>
                    <br />
                    @Html.DropDownList("special", new SelectList(ViewBag.SpecialList, "Value", "Text"), "All", new { @class = "form-control", @onchange = "searchRequest();" })
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('isactive')">Status</a>
                    <br />
                    <select id="isactive" name="isactive">
                        <option>All</option>
                        <option value="0">Active</option>
                        <option value="1">In Active</option>
                    </select>
                </th>
                <th style="vertical-align: top; width: 100px;">
                    Action
                    <br />
                    <img src="@Url.Content("~/content/images/search.png")" onclick="searchRequest();" class="search-btn" title="search" style="cursor:pointer;" />

                    <a href="@Url.Content("~/Admin/AdOption/Add")">
                        <img src="@Url.Content("~/content/images/add-user.png")" title="add" style="cursor:pointer;" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody id="data-grid">
            <!-- Data Table  -->
        </tbody>
    </table>
</div>
<script src="~/Scripts/AjaxGrid.js"></script>

<script type="text/javascript">
    _accessUrl = '@Url.Action("DataGridList", "AdOption")';
    _gridDivId = 'data-grid';
    _searchBoxDivId = 'search-filter';
    _showAllRecords = false;
    _sortExpression = 'adoptionid';
    _isEditorPage = true;

    $(function () {
        asynList();

    });

    $('body').on('change', '#search-filter th input[type=text],#search-filter th select', function () {
        searchRequest();
    });

    function removeUser(eId) {
        if (confirm('Are you sure you want to delete this record?')) {
            var data = {
                id: eId
            };
            $.ajax({
                cache: false,
                url: '@Url.Action("DeleteAdOption", "AdOption")',
                type: 'POST',
                data: JSON.stringify({ id: eId }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    alert(data.Message);
                    if (data.Status == 0) {
                        asynList();
                    }
                },
                error: function (data) {
                }

            });
        }
    }
</script>