@model PetSuppliesPlus.Model.Coupon.CouponModel
@{
    ViewBag.Title = "Coupon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="tabular-data">
    <table class="table stacktable large-only tablularData">
        <caption>Coupon <span>List</span></caption>
        <thead>
            <tr id="search-filter">
                <th>
                    <a class="sort-icon" onclick="sortRequest('couponid')">Coupon ID</a>
                    <br />
                    @*<input type="text" id="couponid" name="couponid" class="form-control" placeholder="Coupon ID" readonly/>*@
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('name')">Coupon Text</a>
                    <br />
                    <input type="text" id="name" name="name" class="form-control" placeholder="Coupon Text" />
                </th>
                <th>
                    <a class="sort-icon" onclick="sortRequest('status')">Status</a>
                    <br />
                    <select id="status" name="status" class="form-control">
                        <option value="">All</option>
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                </th>
                <th style="vertical-align: top; width: 100px;">
                    Action
                    <br />
                    <img src="@Url.Content("~/content/images/search.png")" onclick="searchRequest();" class="search-btn" title="search" style="cursor:pointer;" />

                    <a href="@Url.Content("~/Admin/managecoupon/Add")">
                        <img src="@Url.Content("~/content/images/add-user.png")" title="add" style="cursor:pointer;" />
                    </a>
                </th>
            </tr>
        </thead>
        <tbody id="data-grid">
            <!-- Data Table  -->
        </tbody>
    </table>
</div>
<script src="~/Scripts/AjaxGrid.js"></script>

<script type="text/javascript">
    _accessUrl = '@Url.Action("DataGridList", "ManageCoupon")';
    _gridDivId = 'data-grid';
    _searchBoxDivId = 'search-filter';
    _showAllRecords = false;
    _sortExpression = 'couponid';
    _isEditorPage = true;

    $(function () {
        asynList();

    });

    $('body').on('change', '#search-filter th input[type=text],#search-filter th select', function () {
        searchRequest();
    });

    function removeUser(eId) {
        if (confirm('Are you sure you want to delete this record?')) {
            var data = {
                id: eId
            };
            $.ajax({
                cache: false,
                url: '@Url.Action("DeleteCoupon", "ManageCoupon")',
                type: 'POST',
                data: JSON.stringify({ id: eId }),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    alert(data.Message);
                    if (data.Status == 0) {
                        asynList();
                    }
                },
                error: function (data) {
                }

            });
        }
    }
</script>